
.footer {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* replace with actual footer height */
  }
  