<form *ngIf="!show()" class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    
   
    <div>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
    </div>
   <div>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
   </div>
    <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
    </div>
</form>

<div class="welcome" *ngIf="show()">
    <img src="https://ca.slack-edge.com/T0266FRGM-U2Q173U05-g863c2a865d7-512" width="200" alt="">
     <p>Welcome! <br> Now you can see, add, delete or edit any movies you like.</p>
    </div>