<div class="text-center">
    <form [formGroup]="movieForm" #f="ngForm" (ngSubmit)="editMovie()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" value="{{movie?.title}}" placeholder="Movie Title" formControlName="title">
            </mat-form-field>
        </div>
        <div *ngIf="movieForm?.get('title')?.invalid && 
        (movieForm?.get('title')?.dirty || movieForm?.get('title')?.touched)">
            <p>Please, enter more than 3 symbols for title.</p>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Year</mat-label>
                <input matInput type="number" value="{{movie?.year}}" formControlName="year">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Image Url</mat-label>
                <input matInput type="url" value="{{movie?.imageUrl}}" formControlName="imageUrl">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Duration</mat-label>
                <input matInput type="time" value="{{movie?.duration}}" formControlName="duration">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select multiple formControlName="genresIds">
                    <mat-option aria-selected="true"  *ngFor="let g of allGenres" [value]="g.id">{{g.name}}

                    </mat-option>
                    <mat-option v></mat-option>
                    <!-- <mat-option value="Action">Action</mat-option>
                    <mat-option value="Drama">Drama</mat-option>
                    <mat-option value="Crime">Crime</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput value="{{movie?.description}}" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div>
            <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Edit</button>
        </div>
    </form>

    <!-- <div>
        <div>Data of form: {{f.value|json}}</div>
        <div>Is Valid: {{f.valid}}</div>
        <div>Touched: {{f.touched}}</div>
        <div>Dirty: {{f.dirty}}</div>
    </div> -->
</div>