.movie-card {
    margin-top: 50px;
    width: 250px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: all .5s;
    color: black;
  }
  
  .movie-card:hover {
    transform: scale(1.1); 
  }

  .movie-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    /* background-image: url('../../../../assets/icons/movie_icon.png'); */
    background-image: url('movie_icon.png');
    background-size:cover;
    background-size: 80%;
    background-repeat: no-repeat;
  }