.card-grid{
    width: 100%;
    display:grid;
    /* flex-wrap:wrap;  */
    grid-template-columns: repeat(3,1fr); 
    justify-items: center;
    gap:10px;
    padding-bottom: 30px;
}

.btnAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 60, 170);
    margin-left: auto;
}